body{
	cursor: url(../images/move.png) 8 8,crosshair;
	margin-left: 60px;
}
h1{
	margin-left: 200px;
	font-size: 40px;
}
h2{
	margin-left: 200px;
	font-size: 30px;
}
p{
	font-size: 20px;
	margin-left: 20px;
}